<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" xmlns="http://www.w3.org/2001/vxml"
      xmlns:voxeo="http://community.voxeo.com/xmlns/vxml">

  <nomatch>
    <property name="timeout" value="3s"/>
    Sorry I didn't understand
    <reprompt/>
  </nomatch>

  <noinput>
    <property name="timeout" value="3s"/>
    You didn't say anything.
    <reprompt/>
  </noinput>

  <menu id="mainMenu">
    <prompt bargein="false">
      <break time="2s"/>
      Welcome to the game, there are two levels. Would you like to guess the song title or sing the next verse?
    </prompt>
        <choice next="#guessLevel" accept="approximate">
      guess song title
    </choice>
    <choice next="#singLevel" accept="approximate">
      sing next verse
    </choice>
  </menu>

  <form id="guessLevel">
    <block>
      <prompt>
          <break/>
          In this level, a verse from a song will play, and you can try to guess the movie it's from.
          <break/> 
          If you don't know the answer, you can say I don't know, and we'll move on.
      </prompt>
      <submit next="guess_song"/>
    </block>
  </form>

  <form id="singLevel">
    <block>
      <prompt>
          <break/>
          In this level, a verse from a song will play, and you can try to sing the next verse
          <break/>
          If you don't know the answer, you can say I don't know, and we'll move on
      </prompt>
      <submit next="sing_verse"/>
    </block>
  </form>
</vxml>
